.Container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: var(--Color-Background-3);
  & > section {
    height: 20rem;
    width: 20rem;
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    top: calc(50% - 10rem);
    left: calc(50% - 10rem);
    background: var(--Color-Background-2);
  }
}