@use './../Mixins';

.Container {
  scroll-snap-align: none !important;
  height: 100%;
  width: 100%;
  border-radius: 0 .5rem .5rem 0;
  background: var(--Color-Background-3);
  grid-area: Channels;
}

.Button {
  @include Mixins.Button(
    var(--Color-Background-3),
    var(--Color-Foreground-1),
    var(--Color-Background-1)
  );
}