@use './../Mixins';
.Button {
  @include Mixins.Button(var(--Color-Background-Login-Btn), var(--Color-Text-Login-Btn), var(--Color-Background-Login-Btn-Hover));
  &.Twitter {
    @include Mixins.Button(#50ABF1, #fff);
  }
  &>div {
    margin: auto;
    height: 1rem;
    width: max-content;
    display: grid;
    grid-template-columns: 1rem auto;
    grid-template-rows: 1rem;
    grid-gap: 2rem;
    img {
      width: 100%;
      height: 100%;
    }
    img[alt='Google'] {
      background: #fff;
    }
    span {
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0;
      display: flex;
      align-content: center;
    }
  }
}